<section class="animated-background vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <img src="https://res.cloudinary.com/optprime/image/upload/v1659361918/stash-it/4172b5aa4f784d9dac32fdd2ec8b7291_aknw39.png" class="rounded mx-auto d-block mb-5" alt="Logo">
              <p class="mb-3 fs-4">Welcome to Rails Mint</p>
              <p class="mb-5 fs-5 text-white-50">Take charge of your finances with Rails Mint online expense tracker</p>
              <div class="d-flex justify-content-around">
                <%= button_to "Login", new_user_session_path, class: "btn btn-outline-light btn-lg px-5" %>
                <%= button_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light btn-lg px-5" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>