<div class="container text-center">
  <h2> Welcome to the Rails Mint Expense Tracker</h2>
  <%= render "/shared/categories_carousel" %>
  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-info" type="button">Add Category</button>
  </div>
</div>
