<footer
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between pt-4 px-4 px-xl-5 bottom">
  <div class="text-white mb-1 mb-md-0">
    <p><small>&copy; 2022 Ben Kiarie. All rights reserved.</small></p>
  </div>
  <div>
    <a href="#" class="text-white me-4 footer-link">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="#" class="text-white me-4 footer-link">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="text-white me-4 footer-link">
      <i class="fab fa-google"></i>
    </a>
    <a href="#" class="text-white footer-link">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</footer>